*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --bs-primary-rgb: 8,59,76;
}

h1{
  font-size: 80px;
}

.my_container{
  width: 1200px;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
}

.fizz_container{
  width: calc(100% / 7 - 15px);
  height: 150px;
  background-color: rgb(19, 137, 178);
  margin:15px;
  font-size: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}